<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Ivy - Bound JavaScript</title>
	<meta name="author" content="Adam Sanderson">
  <style type="text/css">
    .toc {
      list-style: none;
      padding-left: 0;
    }
    .toc-constructor {
      font-weight: bold;
    }
    .toc-method {
      padding-left: 10px;
    }
    .toc-function {
      font-style: italic;
    }
    
    .fn {
      margin-top: 20px;
    }
    .fn-signature {
      font-family: sans-serif;
    }
    .fn-signature a {
      color: inherit;
    }
    .fn-signature a:target {
      background: #FFC;
    }
    
  </style>
	<link rel="stylesheet" href="css/site.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>

<div class='grid row'>
  <div class='col col-4'>
    <h4>
      Attribute API
    </h4>
    <ul class='toc'>
    {{#functions}}
      <li>
          <a href='#{{name}}' class='toc-{{type}}' title='{{signature}}'>{{shortName}}</a>
      </li>
    {{/functions}}
    </ul>
  </div>
  <div class='col col-8'>
    <h1>
      Ivy
    </h1>
    
    {{#functions}}
    <div class='fn'>
      <h4 class='fn-signature'>
        <a name='{{name}}' href='#{{name}}'>{{signature}}</a>
      </h4>
      
      {{{commentHtml}}}
    </div>
    {{/functions}}
    
  </div>
</div>

</body>
</html>