<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Ivy - Bound JavaScript</title>
	<meta name="author" content="Adam Sanderson">
	
	<link rel="stylesheet" href="css/site.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="lib/highlight/github.css">
  <script src="lib/highlight/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>

<div class='grid row'>
  <div class='col col-9'>
    {{{content}}}
  </div>
  <div class='col col-3'>
    {{> navigation}}
  </div>
</div>
</body>
</html>
